---
name: Release
on: push

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: make docs
      - name: Verify no changes after docs build
        run: |
          git diff --exit-code

  release-please:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: jimeh/release-please-manifest-action@v1
        id: release
        with:
          app-id: ${{ vars.RELEASE_PLEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_GITHUB_APP_PRIVATE_KEY }}
      - name: MAJOR and MAJOR.MINOR tags
        if: ${{ steps.release.outputs.release_created }}
        uses: jimeh/update-tags-action@v1
        with:
          tags: |
            v${{ steps.release.outputs.major }}
            v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}
